/* #score {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
} */

/* .container-item {
  padding: 1rem;
} */

/* .item {
  display: grid;
  offset-x | offset-y | blur-radius | spread-radius | color
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.2);
} */

/* .container-img {
  height: 10rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
} */

/* img {
  width: 100%;
} */

/* h2 {
  justify-self: center;
} */

/* .results {
  margin: 0;
  font-weight: 600;
  font-size: 1.1rem;
} */

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.btn {
  color: white;
  border: 1px solid #495057;
}
.btn:hover {
  color: white;
  border: 1px solid #495057;
  box-shadow: 0 0 25px rgba(52, 58, 64, 0.5);
}

.browser-card.highlight {
  border-color: #f1c40f;
  box-shadow: 0 0 25px rgba(241, 196, 15, 0.5);
}
/* UIUX UPDATE NEW */
body {
  font-family: monospace;
  /* padding: 1rem; */
  background-color: #212529;
  color: #f8f9fa;
}

.browser-card {
  border-radius: 1rem;
  border: 2px solid #495057;
  padding: 1rem;
  position: relative;
  box-shadow: 0 0 25px rgba(52, 58, 64, 0.5);
  transition: border-color 0.5s, box-shadow 0.5s, transform 0.2s;
}
.browser-card:hover {
  transform: scale(1.05);
}
.browser-card .score {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-weight: 900;
  font-size: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #000;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.browser-card img {
  width: 100%;
  height: auto;
}
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* line-height: 16px; Set the desired line height */
  /* max-height: 32px; Set the maximum height for N lines */
  -webkit-line-clamp: 3; /* Specify the number of lines to be displayed */
  -webkit-box-orient: vertical;
}
.card-glance {
  border: 1px solid #eee;
  position: relative;
  padding: 2rem;
}
.card-glance ol {
  list-style: none;
}
.card-glance ol li {
  position: relative;
  margin-bottom: 0.5rem;
}
.card-glance ol .medal {
  position: absolute;
  left: -2rem;
}
/* .card-glance::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0.5rem;
  left: 0.5rem;
  border: 1px solid rgba(170, 170, 170, 0.5);
  z-index: 1;
} */
/* UIUX UPDATE NEW */
